@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ccf3ce;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.circle-bg {
  height: 20rem;
  width: 30rem;
  background-color: #fbecc7;
  border-radius: 50%;
  display: inline-block;
}

.circle-bg-small {
  height: 15rem;
  width: 18rem;
  background-color: #fbecc7;
  border-radius: 35%;
  display: inline-block;
}

/* HIDE INPUT ARROWS */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #d6eeee;
}
